[2013-05-26 21:55] emre opened #2 "rewrite in ruby"
patching dictionaries is so hipster. this project should be written in ruby.

:+1:

[2013-05-31 20:11] antimora opened #3 "handling duplicate values in a list"
[code]

Output:

[code]

Expected:

[code]

[2013-06-12 19:14] erikcw opened #4 "diff fails on complex dictionaries."
For simple cases everything works as expected:

[code]

However, when comparing complex objects, even minor differences are missed.

[code]

Version tested dictdiffer==0.0.3

[2013-11-29 14:52] #3 closed, assigned to nobody

[2013-12-17 10:05] lnielsen opened #9 "PYPI Release 0.4?"
@fatiherikli Would it be possible for you to make a 0.4 release of dictdiffer on pypi with the latest changes in master? I'm dependent on the changes in one of my project, and would be nice if I could install from pypi instead of github :-)

If you need any help, I'd be happy to prepare everything so you just need to run python setup.py sdist upload.

[2014-01-17 15:23] #9 closed, assigned to nobody

[2014-03-09 17:42] yetkinozturk opened #11 "diff indicates 'change' if 'id' is different even value is same."
lets say SomeModel.objects.all() returns []

z = { 'x' : SomeModel.objects.all()}
w = { 'x' : SomeModel.objects.all()}

list(diff(z,w))
[('change', 'x', ([], []))]

because z is not equal to w

[2014-05-30 13:44] oiuww09fn opened #12 "The return of function "patch" was wrong when dest dict`s key was int."
[code]

And the issue may be fixed by update code:

[code]

[2014-08-04 07:09] lnielsen opened #13 "New pypi release"
Hi,

We urgently need to have the changes from PR #10 integrated and released on PyPI. Is there any chance that you can integrate them or alternatively give us permission to do so? We using your module at inveniosoftware/invenio#2019.

[2014-08-07 07:04] #13 closed, assigned to nobody

[2014-08-07 07:06] #2 closed, assigned to nobody

[2014-08-07 07:09] lnielsen opened #16 "Announce repo move from fatiherikli to inveniosoftware"

[2014-08-26 06:42] #12 closed, assigned to nobody

[2014-08-26 09:49] #11 closed, assigned to nobody

[2014-08-26 10:22] #4 closed, assigned to nobody

[2014-09-01 12:26] #16 closed, assigned to tiborsimko

[2014-09-01 12:50] tiborsimko opened #30 "`diff()` producing diffs with empty list removals"
Produced diffs may contain empty list instructions, e.g. see `('remove', 'stargazers', [])` the canonical example from the user guide:

[code]

Would look nicer without those empty list removals?

[2014-09-25 11:25] #30 closed, assigned to jirikuncar

[2014-10-02 17:19] int-ua opened #34 "Suggestion: add ignore_keys optional argument"
I'm writing a script to sync selected elements from OpenStreetMap database with a site database. And the dictionaries I use to store databases include some metadata that doesn't need to be synced. Looks like the ability to pass a list of keys to ignore during diff and patch would help a lot in this case.

[2014-10-03 06:19] #34 closed, assigned to jirikuncar

[2014-11-02 19:02] boxed opened #38 "diff doesn't perform a dict diff on dict subclasses"
[code]

The code for diff() is a bit strange. It checks if the input isinstance() dict, but then throws away that data at the end and does type() on the input instead. Weird! The map "difffers" (https://github.com/inveniosoftware/dictdiffer/blob/master/dictdiffer/__init__.py#L110) is unnecessary. It'd be better to just assign to the variable 'differ' at line 61 and 69 I think.

On another note, it

[2014-11-03 16:42] #38 closed, assigned to jirikuncar

[2014-11-27 15:37] dmr opened #41 "Dictdiffer 0.3.0 changes and OrderedDicts"
I used to use dictdiffer to diff OrderedDicts in version 0.2.0.

This testcase used to work there but it doesn't in the current git version (00e14e32069ad9abfabc366866faa6b6a64941be):

    def test_changed_order():
        from dictdiffer import diff
        from collections import OrderedDict
        o = OrderedDict
        diff_res = list(diff(
            o([('properties', o([(1, 'a'), (2, 'b')

[2014-11-28 08:35] mvesper opened #42 "RFC Detailed patches and additional difference algorithms"
For my master thesis (RFC inveniosoftware/invenio#1897) I need functionality similar to the current dictdiffer, but with the following additions
* More detailed patches
  In the current implementation, the patch extraction of insertions would generate something like this:
[code]
  For my case, something like this would be desirable:
[code]
  Since this behavior is obviously not always wanted, ther

[2014-12-05 19:58] mgcdanny opened #44 "additional difference algorithm suggeestion"
Hi,

This dictdiffer library rocks!   Thank you all.

This might be another nice difference algorithm per https://github.com/inveniosoftware/dictdiffer/issues/42.  Basically similar to the symmetric difference operator from python's Set data structure.

Setup:

[code]

Current output:

[code]

Proposed output:

[code]

So  (,0)  would represent the addition of 0 to the second dict and that everyth

[2014-12-09 19:59] #44 closed, assigned to nobody

[2015-01-20 13:04] dset0x opened #48 "reports NO-OP has occured when diffing lists"
[code]

@mvesper is working on this. This report is for reference.

[2015-01-20 13:58] jirikuncar commented on #48
works for me (see #49)

[2015-01-20 14:19] dset0x commented on #48
Invalid, please close @jirikuncar. My shell was importing from an old directory without me having noticed.

[2015-01-20 14:21] #48 closed

[2015-03-10 10:00] alexsv opened #50 "when dict has unicode keys and ignore parameter is provided exception is raised"
[code]

[2015-03-10 12:21] #41 closed

[2015-03-10 13:15] jirikuncar commented on #50
@alexsv can you please review hotfix in #51? Thanks

[2015-03-10 17:20] #50 closed

[2015-05-08 09:53] #42 closed

[2015-10-01 00:15] thehesiod opened #54 "NaN comparison"
right now NaNs compare as different, here's a patch to __init__.py to fix it:

-        if first != second:
+        if first != second and [first] != [second]:

[2015-10-01 07:03] jirikuncar commented on #54
@thehesiod thank you! Can you please submit a pull-request with a test case?

[2015-10-01 23:46] thehesiod commented on #54
https://github.com/inveniosoftware/dictdiffer/pull/55 <https://github.com/inveniosoftware/dictdiffer/pull/55>

[2015-10-07 12:09] #54 closed

[2016-01-04 16:13] jirikuncar opened #64 "installation: release universal wheels"
- [ ] `setup.cfg` universal=1
- [ ] `.travis.yml` add deploy section

[2016-01-04 16:38] #64 closed

[2016-03-23 11:50] kmuehlbauer opened #68 "dictdiffer breaks if dict contains numpy arrays"
When comparing two nested dictionaries containing numpy arrays it breaks with the well known:
[code]
To reproduce:

[code]
Traceback:

[code]

Unfortunately I have no elegant solution to this, but changing `are_different` like this works for my specific use case:

[code]

[2016-03-23 16:16] marius86cma opened #69 "Tolerance is not working if dict values are tuples"
For dict values as tuples of ints or floats, the tolerance is not working:
[code]

Output result:

[code]

[2016-03-23 16:24] jirikuncar commented on #69
The problem is because you are trying to compare `tuple`s but `dictdiffer` supports only `list`s and `set`s.

--
see https://github.com/inveniosoftware/dictdiffer/blob/master/dictdiffer/__init__.py#L111

[2016-03-23 16:31] jirikuncar commented on #69
There is a philosophical problem with tuples as they are immutable. You can not really apply a patch on them as it would mean creating new object. Please convert your tuples to lists.

[code]

[2016-03-23 16:31] #69 closed

[2016-03-23 16:35] marius86cma commented on #69
I haven't tried with lists. Thank you!

[2016-06-19 07:50] inoks opened #73 "Ignore list order"
It will be nice to have  `ignore_order` option:

[code]

[2016-06-20 07:21] jirikuncar commented on #73
@inoks can you use `set` instead of `list` if you are not interested in the order of items?

[code]

[2016-06-20 07:29] inoks commented on #73
@jirikuncar Actually, no. My dict came from [xmltodict](https://github.com/martinblech/xmltodict), which parsed pretty large xml documents.
I ended up creating dict sorting function, which sorts all nested dict and lists, before using `diff()`.

[2016-06-20 07:36] inoks commented on #73
@jirikuncar And i also want duplicate items in list to be detected by `diff()`.

[2016-06-20 08:32] jirikuncar commented on #68
@kmuehlbauer fixing `are_different` is only first step if you want to know that two `np.array`s are different. However, we would need to add `np.array` to `LIST_TYPE` to detect changes, otherwise you would get result as:

[code]

[2016-06-20 15:17] jirikuncar commented on #73
@inoks if you have a working solution for your domain specific problem, can you please close the issue?

[2016-06-20 15:21] inoks commented on #73
@jirikuncar I prefer that issue still be there, just in case someone decide to implement that in the future.

[2016-06-20 15:43] jirikuncar commented on #73
To be honest, I don't think it should be part of diffing library. The same way as you diff two files in UNIX.

[code]
The lines are not sorted unless you explicitly pre-sort them.
[code]

[2016-06-20 15:52] lnielsen commented on #73
I agree with @jirikuncar. A Python list is an ordered collection, and thus order should be taken into consideration when diff'ing two lists. If order doesn't matter then either a set should be used or the lists should be preprocessed (i.e. sorted) prior to being diff'ed. It will make the algorithm overly complex and likely introduced subtle errors to add this feature.

I understand your issue, but

[2016-06-20 15:58] inoks commented on #73
I will agree with both of you, but there already `tolerance` option existed, so it will be nice to have `ignore_order` as well.

[2016-06-21 07:50] jirikuncar commented on #73
@inoks the `tolerance` is there because of limitations in operations with floating points numbers. Two "identical" values can be compared to False when they are calculated in different ways. This problem is not possible to solve with pure preprocessing without rounding values.

Having said that I would really like to keep the package minimalist [1] and let developers to create their own pipelines.

[2016-06-21 07:50] #73 closed

[2016-06-21 11:14] #68 closed

[2016-07-29 13:46] jrjsmrtn opened #79 "ignore doesn't work with CaseInsensitiveDict"
`ignore ` doesn't work correctly with a `CaseInsensitiveDict`:

[code]

[2016-07-29 15:00] jirikuncar commented on #79
@jrjsmrtn have you tried this trick?

[code]

Just trying to reuse the `__contains__` method from `CaseInsensitiveDict`.

[2016-07-29 15:31] jrjsmrtn commented on #79
No, I haven't tried, as `ignore ` is supposed to be a list of keys, not a dict...

... but yes, it seems to work :-)

[2016-07-29 15:36] jirikuncar commented on #79
"duck typing" ;)

[2016-07-29 15:36] #79 closed

[2016-08-17 11:35] jrjsmrtn opened #81 "expose a generic visit(diff_result, visitors) function ?"
How about:

- exposing a generic `visit_diffs(diff_result, visitors, *args, **kwargs)` function [1];

- where `visitors` would be a dict of callables: `{dictdiffer.ADD: do_something_with_add, ...}`;

- and callables' signature would be `visitor(node, changes, *args, **kwargs)` ? [2]

Why ?

1. `dictdiffer.diff()` results are obviously simple to exploit but writing a `visit_diffs()` will probably t

[2016-08-17 12:13] jirikuncar commented on #81
@jrjsmrtn I like the proposal 👍  I would only propose changing the order of arguments `visitors` and `diff_result`. Are you going to create a PR?

[2016-11-18 07:00] mikaelho opened #85 "Handling of arrays"
Using dictdiffer 0.6.0, I get a list index out of range with the following code, probably because when reverting, the list elements are removed in the wrong order.

    from dictdiffer import diff, patch, swap, revert

    one = {
       'one': ['is two']
     }
    two = {
       'one': ['is two', 'is three', 'is four']
    }

    result_diff = diff(one, two)
    print revert(result_diff, two)

[2016-11-18 08:12] jirikuncar commented on #85
@mikaelho thanks for the bug report. Can you please verify if #86 fixes your problem? Thanks!

[2016-11-18 12:40] mikaelho commented on #85
Thanks, works, also when the changed array elements are elsewhere than the end of the list.

[2016-11-18 12:40] #85 closed

[2016-11-24 11:58] mikaelho opened #89 "Immutable diffs"
Current implementation returns diffs that reference the original structure. Thus the diff may change later when the structures change.

This is counter to at least my intuitive expectation that the diff is a snapshot of the structures at the time of running the diff.

I would request that the diff returns (deep) copies of the referenced structures by default, with maybe an option for returning ref

[2016-11-24 12:20] jirikuncar commented on #89
@mikaelho thank you for the proposal. Are you willing to submit a test case and a patch?

[2016-11-24 12:53] mikaelho commented on #89
Here's a test case where the second assert fails. I am not a coder enough to submit a patch -- currently I am just wrapping diff calls with deepcopy.

    from dictdiffer import diff

    one = { 'one': 'one' }
    two = { 'one': {'two': 'three' }}

    result = list(diff(one, two))
    # [('change', 'one', ('one', {'two': 'three'}))]

    assert result[0][2][1]['two'] == 'three'

    two['one']['

[2016-11-25 09:37] jirikuncar commented on #89
closed via #90

[2016-11-25 09:37] #89 closed

[2017-03-30 05:00] mikaelho opened #91 "Support in-place patch/revert"
I request adding an in-place patch/revert capability, i.e. option for performing these operations without copying the target structure.

This would be a useful performance optimization in some large-volume use cases. I also have a functional need of patching in place while recording all changes made to the structure.

This could be implemented as an additional, optional parameter to patch and reve

[2017-03-30 07:08] jirikuncar commented on #91
@mikaelho are you willing to send a pull-request with proposed tests?

[2017-03-30 08:05] mikaelho commented on #91
Never done it before. I will try.

[2017-03-30 08:34] jirikuncar commented on #91
@mikaelho don't worry 😉  Just have a look at some past commits to see how things are done. If you have any question just ping me.

[2017-03-30 12:42] mikaelho commented on #91
Done - my first pull request ever.

https://github.com/inveniosoftware/dictdiffer/pull/92

[2017-03-30 12:42] #91 closed

[2017-04-05 13:04] m4ce opened #94 "Support for OrderedDict?"
It would be nice if dictdiffer had support for ordered dictionaries.

[2017-04-05 14:09] mikaelho commented on #94
Do you mean that it would consider different orders of keys as a difference to be reported?

[2017-04-05 14:43] m4ce commented on #94
@mikaelho, that is indeed what I meant :)

[2017-04-05 16:11] mikaelho commented on #94
Would make sense to have the option, given that CPython 3.6 dicts are ordered as well (even though "not to be relied upon").

[2017-04-05 20:28] m4ce commented on #94
@mikaelho - yep, perhaps a boolean like ignore_order could do?

[2017-04-06 11:07] jirikuncar commented on #94
It looks like a duplicate of #41.

[2017-04-26 22:08] alansun-optimizely opened #95 "List format vs dot Notation format in dotted node"
Is it intentional that path_limits are denoted in list notation rather than dot notation?

[code]

[2017-04-27 06:15] jirikuncar commented on #95
Yes. It makes it easier to distinguish between key (str) and array index (int).

[2017-04-27 06:15] #95 closed

[2017-05-18 13:38] rikirenz opened #96 "Wrong patch format in accordin to the standard RFC 6902"
This is the test that I run
[code]
This is the result of the previous code:
[code]
In according to the standard RFC 6902 that defines: a JSON document structure for expressing sequence of operations to apply to a JavaScript Object Notation (JSON) document; (https://tools.ietf.org/html/rfc6902)

IMHO the result is wrong for 2 reasons:

1.  It is not wrapped in an object (but is a minor issue, tuple

[2017-05-18 14:21] lnielsen commented on #96
Thanks for the suggestions. I don't think dictdiffer was ever meant to generate patches according to JSONPatch, and dictdiffer also diffs more than just JSON.

You could add a new feature to support output in JSONPatch, but not sure how much work is involved with that.

[2018-01-08 13:02] Glignos opened #100 "Wrong diff in case of removing a non last index of an array"
Suppose we have an array
old = [1,2,3]
new = [2,3]
In this case you should get that the first element was deleted but instead the diff is:
[('change', [0], (1, 2)), ('change', [1], (2, 3)), ('remove', '', [(2, 3)])]

[2018-01-08 14:01] jirikuncar commented on #100
@Glignos the current algorithm for comparing lists is very simple. In your case you would get a better result if you use sets instead of lists.

You can propose a change of following lines https://github.com/inveniosoftware/dictdiffer/blob/efc1b73742481b57a12833a2b0dfb3b32262c304/dictdiffer/__init__.py#L159-L161

[2018-01-08 14:13] jirikuncar commented on #100
I would propose to use `difflib.SequenceMatcher` that could do the job quite well.

[2018-05-02 00:51] wangyifan opened #101 "Wrong diff generated if key string contains dot."
The following code will break for v0.7.0:

[code]

Exception:

[code]

Can we always use list ['a', 'b', 'c', 'd'] instead of string 'a.b.c.d' to represent a path in the dict?

[2018-05-02 07:39] jirikuncar commented on #101
@wangyifan can you please test the fix from PR #102? Thanks!

[2018-05-02 20:27] wangyifan commented on #101
@jirikuncar I applied the diff and it worked. Thank you for fixing this.

Do you plan to make a new release?

[2018-05-03 09:10] jirikuncar commented on #101
@wangyifan yes, we will do one, but I can't promise an exact date.

[2018-05-03 20:48] wangyifan commented on #101
@jirikuncar Will that be usually in days, weeks, or months? I am investigating if my company can use this package in our project. I don't need an exact date now but just want to plan accordingly.

[2018-05-04 07:57] jirikuncar commented on #101
I hope in "weeks" or less.

[2018-05-04 09:49] #101 closed

[2018-05-09 21:57] lukeolson13 commented on #100
I'm having the same issue, except with more complex data (dictionaries nested in dictionaries). I obviously have no idea what kind of fix this would be, but would love to see the functionality!

[2018-05-30 05:10] jyoti-arora1991 opened #107 "Wrong diff in case of dictionary has dotted keys in ignore in dictdiffer."
Issue occurring on dictdiffer-0.7.1.

Lets take two dictionaries:

[code]

Output for above is:

[code]

seems like ignore functionality is not working when we pass dotted key in ignore set.

[2018-06-04 12:27] AlJohri opened #108 "ignore field in array of dicts?"
lets say i have an array like:

[code]

I want to ignore `races[?].reportingUnits[?].apiAccessTime` regardless of the array index for both the `races` array and the `reportingUnits` subarray. Is this possible?

[2018-06-04 14:22] jirikuncar commented on #108
I don't think it's currently possible out of box, but you should be able to implement custom `set`-like object.

[code]

[2018-06-22 14:29] iulianav opened #109 "Unifier class: `unify` method returns duplicated patches"
Unifier class: `unify` method returns a list containing duplicated patches in the case of conflicts containing equal patches (same path).

e.g.
[code]

The result of calling `u.unify([patch1], [patch2], [conflicts])` will be `[patch1, patch2]` instead of `[patch1]`
. This can lead to `KeyError`s in case of calling `patch`, as it will try to remove the same key twice. The second time it fails as th

[2018-08-03 14:10] dcotruta opened #112 "Ignore does not work with integers"
The ignore attribute does not work if one uses integers.
[code]

[2018-08-14 09:43] dcotruta commented on #112
No?

[2018-08-23 13:20] mlund opened #113 "ignore non-overlapping keys"
As part of unit testing, I'd like to use dictdiffer to compare stable/correct output (with tolerance) from a scientific simulation with potentially buggy development output. Newer versions of the tool may output additional keys that need/can not be compared and a flag to skip non-overlapping keys would be very useful.

[2018-08-23 13:28] mlund commented on #113
For example, this could be output from an **old** version that is known to give correct results, and the output if only rarely re-generated,

[code]

and this is output from a **development** version that may not work and may add addtional keys:
[code]

Ideally, something like this would be great,

[code]

[2018-08-24 12:02] jirikuncar commented on #113
@mlund can you run filter on the diff result and ignore `remove` patches?

[code]

[2018-08-24 12:06] jirikuncar commented on #112
@dcotruta can you please create a PR with the proposed tests?

[2018-12-17 16:25] t-b opened #114 "diff returns wrong result for different type of variables holding NaN"
The following example using latest dictdiffer

[code]

fails as the diff should be empty.

The error is (I guess) in https://github.com/inveniosoftware/dictdiffer/blob/f8dc205dfa6fa4735ad414f94b418258d6fac5f6/dictdiffer/utils.py#L265-L273

as np.float32 is not in num_types.

Instead of adding np.float32 to num_types I think a better solution is to return earlier as in

[code]

[2019-02-10 20:16] yoyonel commented on #112
https://github.com/inveniosoftware/dictdiffer/pull/115

[2019-02-14 09:44] nilsnolde opened #116 "Is this library still maintained?"
Last commit is 9 months ago, some issues are more than a year old.

Could you pls update us if this library plans to stay maintained or you're looking for new maintainers?

[2019-02-14 09:49] nilsnolde commented on #116
uff, my bad.. github seems to have problems with the dates indicating when files were last changed..

[2019-02-14 09:49] #116 closed

[2019-02-14 10:00] lnielsen commented on #116
It's being maintained, let me know if you have an interest in helping out.

[2019-02-19 16:19] #112 closed

[2019-02-19 16:24] jirikuncar commented on #113
@mlund feel free to re-open if the proposed solution doesn't help you.

[2019-02-19 16:24] #113 closed

[2019-02-22 10:38] #114 closed

[2019-02-23 21:06] yoyonel commented on #107
I write a fix/patch to workaround this problem: [feature/Issue#107](https://github.com/yoyonel/dictdiffer/tree/feature/Issue%23107)

My solution is to provide a function to generate `raw` ignored keys.

I define a `RAW_IGNORE_KEY_TOKEN ` to generate (prefix) raw ignored keys (in [utils.py](https://github.com/yoyonel/dictdiffer/blob/feature/Issue%23107/dictdiffer/utils.py#L279)).
I use this functio

[2019-02-23 22:52] yoyonel commented on #107
A simpler (better) approach with simple custom type to indicate dotted ignore key: [feature/Issue#107_oo](https://github.com/yoyonel/dictdiffer/tree/feature/Issue%23107_oo)

Custom type in [utils.py](https://github.com/yoyonel/dictdiffer/blob/feature/Issue%23107_oo/dictdiffer/utils.py#L19):
class DottedIgnoreKey(str):
[code]
Using in diff function:
[code]
and finally in unit test:
[code]
Work fine

[2019-03-13 08:11] tomreitsma opened #122 "Possible to treat a list always as a remove or add?"
Disclaimer: this is probably out of scope, so please regard this as a feature wish

As it is right now, if an object in a list is changed, the diff will be executed as usual through field changes in the object. Would be nice to have an option to change the behavior to return a remove/add when an item in a list has changed.

[2019-03-14 15:54] jirikuncar commented on #122
@tomreitsma can you include a specific example?

[2019-03-17 16:53] #107 closed

[2019-04-09 02:53] AstroMen commented on #73
Actually, it is not convenient to compare two dicts from json. set is not been supported by json, so I need to convert list to set at first before I diff. Maybe it will be nice to have ignore_order, though I could convert list to set.

[2019-05-13 14:21] oppsig opened #126 "Working with unknown length of changes?"
What is the best way to work with unknown length of changes.
For example:
I know you can x = list(diff(a,b))
Which returns a list of changes in tuples.
But, x = dict(diff(a,b) does not work.
Are there any way to create a dict object easely from this diff class.
In this case I'm not really interested in wat is added or removed.
I want to check if a certain key has changed, and return back old and n

[2019-05-13 15:27] oppsig commented on #126
Ok, so each change is an element in the list.
So then you can just loop through the list and check first param in tuple if is a change or add or remove.

[2019-05-13 15:27] #126 closed

[2019-05-14 14:04] martinzugnoni opened #127 "Include interactive demo in README file"
We've been using `dictdiffer` lately and I think it would be great to provide some sort of interactive online demo for the library. I helped adding it to `jsonschema` project, you can see it running here:
https://github.com/Julian/jsonschema#demo

Do you think this will help users learn the library easier? If you want, I can create a PR to include a demo link in `dictdiffer` as well.

[2019-05-30 07:51] jirikuncar commented on #127
@martinzugnoni it would be definitely nice to **include more examples in README**. If you have time you can help us by submitting a PR.

Personally, I am not sure if linking to a 3rd party service is a good idea, but if we go this path we should consider linking to similar services like mybinder.org too.

[2019-05-30 10:50] oppsig opened #128 "Only swap add / remove, not changes."
I want to only swap add / remove of the diff, not change positions on all changes.
Or if i only wanted to change positions on changes  for an example.
Any way to implement this?

data_old contains more keys than data_new.
i want to keep these old keys in the patch, but change values for newer values.

[code]

[2019-05-30 13:18] martinzugnoni commented on #127
Absolutely! The more options we give to the user the more chances we have that they access to such interactive demos, and thereby the easier/sooner they will have a feeling of how the library works.

I will submit a PR in the upcoming days/weeks and wait for feedback. Thanks for your reply.

[2019-05-30 13:35] jirikuncar commented on #128
@oppsig can you provide an example data for `data_old` and `data_new`?

[2019-05-31 09:49] oppsig commented on #128
Ok, I will update this later with some examples.

[2019-06-01 08:29] oppsig commented on #128
Ok, sorry for this lengthy response.
I provided some bogus data for old and new, and avoided nested dictionary for simplicity.
As you can see from diffx:
new data contains some new keys with values, some changes to key values, and also some keys removed.

My goal here is to merge the old dict with the new, changing keys changed in new data, adding new keys, but also adding keys that were in old bu

[2019-06-04 07:17] jirikuncar commented on #128
I am not sure about line `patched = dictdiffer.patch(diffyswap, old)`. Shouldn't it be `patched = dictdiffer.patch(diffyswap, new)`?

Have you tried the `Merger` class from https://github.com/inveniosoftware/dictdiffer/blob/master/dictdiffer/merge.py ?

[2019-06-20 22:32] oppsig commented on #128
Thanks, will do some more tests and update this issue.

[2019-07-03 13:01] SultanNasyrovDeveloper opened #129 "Wrong diif() output fot add value in list. returns two way operation. I thing should return only difference"
current_data = {98: [], 2734: []}
    new_data = {'98': ['lsjcalc'], '2734': [';sdlvmsld;vl']}
    difference = list(diff(current_data, new_data))

    difference
    [('add', '', [('98', ['lsjcalc']), ('2734', [';sdlvmsld;vl'])]),
    ('remove', '', [(98, []), (2734, [])])]

[2019-07-03 13:52] #129 closed

[2019-07-03 13:53] SultanNasyrovDeveloper commented on #129
I found my not so clever mistake. Very sorry)

[2019-07-09 14:09] oppsig commented on #128
Just wondering about the Merger class, what should I put as lca = {} in this case with old/new as mentioned.

[2019-10-01 11:42] epogrebnyak opened #130 "your package should be in standard module"
Thank for making `dictdiffer`, helps save time on inspection of dicts.

I could not think of a better way to support you work other than the issue, please feel free to close it.

[2019-10-01 14:34] #130 closed

[2019-11-26 21:27] netllama opened #131 "possible to diff lists of dicts?"
I'm trying to use dictdiffer to get the diff of two lists of dictionaries, but its not working well.  It seems to get confused whenever the ordering of the dicts inside the list is not identical between the two lists, or when the number of dictionaries in one list is (slightly) different from the other list.

Is this functionality something that is currently possible and expected to work, or am I

[2019-11-27 11:45] jirikuncar commented on #131
Can you provide a smaller example with current and expected results?

There are some limitations to list comparison:
- it can not detect changes in the order of elements
- if an element was added in the middle of a list, then they will differ from that possition (remove + add)

[2019-11-27 16:06] netllama commented on #131
Thanks.  The limitations that you noted are definitely present in the data that I'm working with.  It that's expected behavior right now, that's fine.  I'll need to use something other than dictdiffer for the project.

[2019-11-27 17:18] mikaelho commented on #131
I am confused by the statement: ”it can not detect changes in the order of elements”.

Since:

    [('change', [0], (1, 2)), ('change', [1], (2, 1))]

Can you expand a bit?

[2019-11-27 17:21] mikaelho commented on #131
Now I explained it to myself. The ideal result, at least for some use cases, would be some kind of a ”swap” operation, instead of the two ”changes”.

[2019-11-27 17:28] netllama commented on #131
Yes, exactly.  Sometimes, the order of dicts inside the list doesn't matter.

You should be able to reproduce my original issue by creating a second list of dicts (based on the one that I provided), and making a few minor changes:
* Add another dict to the middle of the list with the same structure as the others dicts, with a unique value for the ```prefix``` key.  Then diff the original and new l

[2019-11-27 19:10] mikaelho commented on #131
I think your first issue is covered by @jirikuncar’s explanation of list diffs - everything is ”different” from the addition onward. Your second issue I think stems from the fact that dictdiffer does not compare dicts by identity, but by content - if you have shuffled the list, changing the first element, dictdiffer detects the difference in specific content within the dict, not in its identity.

[2019-11-28 12:39] jirikuncar commented on #131
I have been experimenting with storing [JSON structures in Git](https://github.com/jirikuncar/git-json-tree) to do diffs on big nested objects.

You could do something like:
[code]

[2019-11-29 14:05] milesgranger opened #132 "Release v1.0?"
Hello, and thanks for the helpful project you have here.

Looking through the issues, lack of recent commits to the lib and the [milestone](https://github.com/inveniosoftware/dictdiffer/milestone/6) seems complete; is there anything else holding up a 1.0 release?

[2019-11-29 14:56] jirikuncar commented on #132
@milesgranger all functionality merged to master is available in 0.8.0. There are several open issues which might change the internals (and possibly API) of this package. We are doing releases as needed with a best effort to keep backward compatibility.

[2019-11-29 14:56] #132 closed

[2019-12-03 15:13] mikaelho commented on #96
Is the current patch format documented in any other way except in the tests? I am thinking of some kind of a grammar that we adhere to.

[2019-12-03 16:05] jirikuncar commented on #96
It's part of the `diff` doctring https://github.com/inveniosoftware/dictdiffer/blob/master/dictdiffer/__init__.py#L47-L49

[2019-12-04 16:47] mikaelho commented on #96
I agree that the docstring contains a number of excellent examples, but it still leaves it to the reader to infer what the rules are, especially as it is all plain values with no keys.

I am thinking of something simple but explicit like this:

- `diff` is a generator that yields zero or more tuples of the format `(op, path, values)`, where
- `op` is one of the strings 'add', 'change' or 'remove'

[2019-12-10 09:38] jirikuncar commented on #96
@mikaelho the PR with a description from your comment is welcome 🙏

[2019-12-11 01:53] danielduhh commented on #131
@jirikuncar I'm running into a similar issue with comparing both lists and sets...
if I have two lists A,B
[code]
Dictdiff correctly finds the `ADD` "changeC", but is also reporting a change in index 1 from changeB to changeC. Is there a way to ignore this?

I tried converting the list into sets (since they are unordered and unindexed):
[code]
But dictdiff is still reporting a `CHANGE` as
[code]

[2019-12-11 10:15] jirikuncar commented on #131
@danielduhh I have tried with lastest `dictdiffer` version.

[code]

I can confirm that the result for sets looks wrong. Can you submit a PR with test case and expected results?

[2019-12-11 10:29] jirikuncar commented on #131
@danielduhh can you check if https://github.com/inveniosoftware/dictdiffer/pull/133 is solving your problem?

[2019-12-20 22:56] Datamance commented on #131
FYI, this will be useful for those of us wishing to implement [Strategic Three Way Merge Patch](https://kubernetes.io/docs/tasks/manage-kubernetes-objects/declarative-config/#how-apply-calculates-differences-and-merges-changes) for the Kubernetes API :) for things like deployments, where you can have big lists of environment variables that look like so:

[code]

AFAIK the `kubectl` cli tool uses a

[2020-01-06 12:05] jirikuncar commented on #131
@Datamance basically you would like to provide a custom `diff` function for certain keys?

[2020-01-08 17:52] Datamance commented on #131
That could work, and I think you could use that as a building block for the common case of schema-based (particularly JSONSchema) diffing/patching.

[2020-01-09 10:41] jirikuncar commented on #131
So basically one shoud provide mapping from `dotted_node` to a function with a same signature as `diff`:
[code]

[2020-01-10 11:34] gdassori opened #138 "KeyError on differenct dicts"
Hi, given two different dictionaries where the second lacks the diff REMOVE key, I'm asking if this is the expected behaviour:

[code]

[2020-01-10 12:57] mikaelho commented on #138
I would say this is expected. Your diff says ”remove b, add a”, and then you apply it to an empty dict, so you get an error saying ”cannot remove b”.

[2020-01-13 09:24] jirikuncar commented on #138
@gdassori the correct usage should be:

[code]
you have to apply the patch to the object from which you have calculated the diff.

[2020-01-13 09:25] #138 closed

[2020-03-26 22:02] aorumbayev commented on #131
Any updates on this?

[2020-03-26 23:27] jirikuncar commented on #131
@aorumbayev feel free to send a PR with a fix discussed above.

[2020-03-31 10:25] s348268281 opened #140 "IndexError: list assignment index out of range"
[code]

[code]

[2020-03-31 10:38] jirikuncar commented on #140
You should try

[code]
**or**
[code]

[2020-03-31 10:39] #140 closed

[2020-03-31 10:48] s348268281 commented on #140
Ok, thank you. This is my first time, so I'll have to take a closer look at your code.

[2020-04-13 12:24] testautomation commented on #108
just an idea: It would be realy handy to have something like `ignore_path` or `ignore_paths` which should be able to take a path or list of paths as returned by `'change'` as input

### example
[code]

Now let's assume we want ignore `_type` property, we woul write something like

[code]

[Deepdiff ](https://github.com/seperman/deepdiff)has something similar: `exclude_paths` and `exclude_regex_pat

[2020-05-24 20:51] shobnaren opened #141 "BUG - when the object is accessed (type-cast) affects the patch"
print(list(result)) ## typecast change causes the breakage
patched = patch(result,first)
assert patched == second

This fails when there is print(list(result)) but works fine when there is no print/type-cast involved.

[2020-05-26 13:01] holvi-mikael commented on #141
result is a generator, which you exhaust when feeding it to the list (`list()` is a regular constructor, not "typecasting", which does not really exist in Python outside low-level C interop).
If you want to view the result via list before using it, store the resulting list and use that instead when patching.

[2020-11-05 12:00] m-aciek opened #142 "Pretty printer"
## Is your feature request related to a problem? Please describe.
I use dictdiffer in tests to show differences for assertion errors. Having a method that would pretty print a differences would make use of the library even better for me.

## Describe the solution you'd like
Either
[code]
or more like comparison view
[code]

## Additional context
https://github.com/lukaszb/pytest-dictsdiff and http

[2020-11-19 18:07] jlane9 opened #143 "For removed items in .patch() first check if exists before deleting"
Package version (if known): 0.8.1

## Describe the bug
Ran into a case where we tried to remove something that didn't actually exist in the target dictionary. **Request**: make the remove function under `patch` safer by checking to make sure the item exists before deletion. If the item is there, it'll delete it otherwise just ignore.

[code]

[2020-11-19 20:08] mikaelho commented on #143
Is this a bug? The proposed change would a potential error in the order of applying patches to pass unnoticed.

I understand why this feature could be desirable in some use cases, but seems to me it should be an option that is explicitly activated.

[2020-11-20 19:28] jlane9 commented on #143
My company uses `dictdiffer` in an internal config management tool. It appeared that the issue was caused by an out-of-sync issue where the config was different from when we read vs. when we were trying to apply the config changes. We are resolving that on our end.

Not sure what you mean on,

The suggested change is to prevent a KeyError from occurring if you try to remove something that doesn't

[2020-11-22 16:33] mikaelho commented on #143
I believe I fully understand why this feature would be valuable for your company.

My comment was due to the fact that I have discovered errors in my patching order due to this exception, errors that would have gone unnoticed or would have been very difficult to diagnose if dictdiffer would have been silent about the missing keys.

Thus my suggestion was to have a switch for deliberately ignoring

[2020-11-30 16:28] jlane9 commented on #143
Oh ok that make sense, I think we've figured out what we're going to do about our error. Thanks for looking into it.

[2020-12-04 10:32] avivace opened #144 "global: migration to github-actions from travis"

[2020-12-08 18:43] wanderingWitch opened #146 "Float comparator does not handle inf correctly"
Noticed this a while ago, sorry for delay.
ex:
[code]
dictdiffer.diff does not return any differences for these two dictionaries.

[2020-12-09 09:55] #144 closed

[2020-12-11 10:28] ParthS007 opened #147 "CI: Exclude Python 3.8 with min configuration"
https://github.com/inveniosoftware/dictdiffer/runs/1523118218?check_suite_focus=true

Add `exclude` in `tests.yml`

[code]

[2021-01-26 19:59] InLaw opened #148 "revert(result, patched) - IndexError: list assignment index out of range"
Package version (if known): 8.1

## Describe the bug
example from doc is not working

## Steps to Reproduce
[code]

[code]

## Expected behavior

## Screenshots (if applicable)

## Additional context

[2021-01-26 20:07] mikaelho commented on #148
diff returns a generator, which can only be used once.

Use `result = list(diff(first, second))` and your code will work.

[2021-01-26 20:20] InLaw commented on #148
sure

[2021-01-26 20:20] #148 closed

[2021-02-04 16:29] hellocoldworld commented on #143
@mikaelho would you accept a new keyword argument to `.patch()` method to allow both behaviours?

[2021-02-05 10:58] mikaelho commented on #143
I am not the maintainer, but personally I would welcome a keyword argument where the default is the existing behaviour, for backwards compatibility.

In my experience pull requests here are very welcome and handled promptly, please remember to include tests.

[2021-04-16 11:35] kloczek opened #156 "0.8.1: pytest based test suite is failing"
[code]

[2021-07-08 05:38] mikaelho opened #159 "Support for diffing and patching data holder objects"
I would need to go beyond just dict/set/list data structures in my diffing, i.e. diffing
other objects as well. Main target for this would be to support data holder objects:
`types.SimpleNamespace`, `dataclasses`, `pydantic` models.

This would be an incremental change, not changing anything about how
diffing and patching works for dicts/lists/sets today.

If you want to jump into code, I have a f

[2021-07-24 16:22] disgusdad opened #163 "Patch only 'changes' ignore add/remove"
Need to apply values from previous dictionaries to new dictionaries that contain keys not in previous.
So as to run patch but only apply the 'change' values and nothing else so current/new dictionary will still contain unique keys.

[2021-07-25 09:15] kloczek commented on #156
Just tested 0.9.0:
[code]
After remove those unrecognized options from pytest.ini:
[code]

[2021-07-25 09:20] kloczek commented on #156
Looks like it fails because you don;t know that you should not use `python -m pytest` which adds to the  `sys.path` upfront current path. Result is thatin your CI pytest is testing source tree and not wehat actually will be used (ehat id prepared in  `build/lib/dictdiffer/` where there is no modules used by test suite)

[2021-07-27 04:38] piotrek204 opened #164 "version 0.9.0 has dropped PY2 support but is still installable"
Package version (if known): 0.9.0

## Describe the bug
According to 0.9.0 release notes, python < 3.5 is no longer supported, but is still possible to install the package in this version under python 2.7. In my case, this results in:

[code]

## Steps to Reproduce
1. py -2 -m pip install dictdiffer==0.9.0
2. execute under PY2: `from dictdiffer import diff`

## Expected behavior
Metadata in the pac

[2021-08-09 13:57] markgras commented on #164
To elaborate on the "metadata in the package" referenced above, per the official [PyPA docs](https://packaging.python.org/guides/distributing-packages-using-setuptools/#python-requires):

This is a common developer oversight when dropping support for older Python versions. For example, I opened [a similar issue](https://github.com/grantjenks/python-diskcache/issues/160) for the `diskcache` project

[2021-09-28 16:20] #164 closed

[2021-12-07 06:55] srgg commented on #108
I feel like I have a similar, but a bit different question:

[code]

How I can ignore 'Field2'?

It will be great if dictdiffer support ignoringValue concept ('dictdiffre.ignore-this-field' i teh following example), then I can do like this:

```'Field2': 'dictdiffre.ignore-this-field'```

But this will not solve ny issue in generic, Im trying to specify a path within an anonymous array (probably r

[2021-12-14 13:22] pgajdos opened #167 "pytest-runner not required"
Deprecated pytest-runner is not necessary for running the testsuite.

[2021-12-17 15:12] kloczek commented on #156
Looks like pytest can be fixed with patch
[code]
pytest output with that patch:
[code]
Please let me know if you want that patch as PR.

[2021-12-17 16:05] jirikuncar commented on #156
👍  that would be great

[2022-08-22 23:05] jayvdb commented on #156
This isnt really a bug.  It works fine if the pytest plugins in `tests_require` are installed. see https://github.com/inveniosoftware/dictdiffer/blob/b32e4b0d44b81a6de4cffd7920122c5c96436a79/setup.py#L21-L36

[2022-08-23 01:36] jayvdb opened #168 "CI failing due to Sphinx/Jinja mismatch"
Package version (if known): master

## Describe the bug
Sphinx 3 is being installed, which is incompatible with Jinja 3.

## Steps to Reproduce
1. Go to https://github.com/inveniosoftware/dictdiffer/runs/7955284018

## Expected behavior

## Screenshots (if applicable)
[code]

## Additional context

[2022-08-25 09:59] #156 closed

[2022-08-30 15:04] tommycarstensen opened #170 "ignore_order"
It would be great to have an option ignore_order similar to what deepdiff has:
https://pypi.org/project/deepdiff/

[2022-10-18 13:12] p-baum opened #171 "Generate new dict from diff - dict of changes"
Maybe I've missed something but I cant see how to generate a diff dict.

I need a dict representation of the changes to simplify database updates.  Is this possible?

[2022-10-19 04:43] mikaelho commented on #171
`diff` returns a generator. In your use case it sounds like you need to "instantiate" the diff with `list,` and if you need a `dict,` you need to wrap the result explicitly. So something like this?

[code]

[2022-10-25 06:29] hugebig opened #172 "get wrong result with path_limit"
Package version (if known): <0.9.0>

## Describe the bug
a = {'a': [{'a': 1, 'b': 2}], 'b': {'a': 1}}
b = {'a': [{'a': 1, 'b': 2}], 'b': {'a': 1}}
result = diff(a, b, path_limit=[('a',)])
print(list(result))
`[('change', ['a'], ([{'a': 1, 'b': 2}], [{'a': 1, 'b': 2}]))]`

## Expected behavior
[]